<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- ===== MATERIALIZE CDN ===== --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  {{!-- ===== MATERIALIZE ICONS ===== --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {{!-- ===== FONT AWESOME ===== --}}
  <script src="https://kit.fontawesome.com/f98cc017d1.js" crossorigin="anonymous"></script>
  {{!-- ===== SOCKETS.IO CDN ===== --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  {{!-- ===== LINK TO CSS STYLESHEET ===== --}}
  <link rel="stylesheet" href="/styles/chat.css">
  <link href="/styles/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/styles/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <title>Welcome to Coffee Talk!</title>
</head>

<body>
  {{{body}}}
</body>

</html>