<div class="wrapper">
    {{!-- ===== HEADER ===== --}}
    <div class="container">
        <nav class="col s12" id="navbar">
            <div class="nav-wrapper">
                <i class="fas fa-mug-hot"> Coffee Talk</i>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Liked</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </div>
        </nav>
        <!-- ===== HAMBURGER MENU =====  -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="#">Home</a></li>
            <li><a href="#">Liked</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </div>


    <div id="coffee-chat">
        <h2>Coffee Talk</h2>
        <div id="chat-window">
            <div id="output"></div>
            <div id="feedback"></div>
        </div>
        <input id="handle" type="text" placeholder="Handle" />
        <input id="message" type="text" placeholder="Message" />
        <button id="send">Send</button>
    </div>
</div>

{{!-- ===== JQUERY CDN ===== --}}
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
{{!-- ===== MATERIALIZE JS ===== --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/chat.js"></script>